<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="div-header">
        <div class="div-logo">
            <a href="#" onclick="location.reload()" class="logo-link">
                <img src="/images/quod-logo1.png" alt="Logo" class="logo">
            </a>
        </div>
        <div class="div-title">
            <h2>Soluções antifraude</h2>
        </div>    
    </div>
    <div class="div-main">
        <a href="./face">
            <div class="div-button">
                <img src="./images/Face-Scanner-Outline-Icon-Graphics-60972191-1.jpg" class="image">
            </div> 
        </a>
        <a href="./biometry">
            <div class="div-button">
                <img src="./images/istockphoto-1251541478-612x612.jpg" class="image">
            </div> 
        </a>
        <a href="./document">
            <div class="div-button">
                <img src="./images/id-icon-flat-identity-information-card-symbol-id-icon-flat-style-identity-information-card-symbol-isolated-white-244900396.webp" class="image">
            </div> 
        </a>  
    </div>
</body>
</html>